<h1> Wiki Index Page</h1>
<h3><%= link_to "New Wiki", new_wiki_path%></h3><br/>
<% @wikis.each do |wiki| %>
  <% if !wiki.private || current_user && (wiki.user_id == current_user.id ||current_user.role == ("admin")) %>
    <%= link_to wiki.title, wiki_path(wiki) %><br/>
  <% end %>
<% end %>
