// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sign-in-status{
  color: red;
  text-align: right;
  padding-top: 50px;
  vertical-align: baseline;
}
